* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: "STXinwei",华文新魏,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
  background: rgb(250,250,250);
}
li {
  list-style: none;
}
a {
  font-family: "STXinwei",华文新魏,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
  text-decoration: none;
  color: black;
}
.iblock {
  display: inline-block;
}
.left {
  float: left;
}
.right {
  float: right;
}
/*居中*/
.textcenter {
  text-align: center;
}
/*颜色*/
.black {
  color: black;
}
.white {
  color: white;
}
.gray {
  color: #676a6c;
}
/*宽度*/
.zp-col-1 {
  width: 8.333333% !important;
}
.zp-col-2 {
  width: 16.666666% !important;
}
.zp-col-3 {
  width: 25% !important;
}
.zp-col-4 {
  width: 33.333333% !important;
}
.zp-col-5 {
  width: 41.666666% !important;
}
.zp-col-6 {
  width: 50% !important;
}
.zp-col-7 {
  width: 58.333333% !important;
}
.zp-col-8 {
  width: 66.666666% !important;
}
.zp-col-9 {
  width: 75% !important;
}
.zp-col-10 {
  width: 83.333333% !important;
}
.zp-col-11 {
  width: 91.666666% !important;
}
.zp-col-12 {
  width: 100% !important;
}
.width20 {
  width: 20px !important;
}
.width30 {
  width: 30px !important;
}
.width40 {
  width: 40px !important;
}
.width50 {
  width: 50px !important;
}
.width80 {
  width: 80px !important;
}
.width100 {
  width: 100px !important;
}
.width150 {
  width: 150px !important;
}
.width200 {
  width: 200px !important;
}
/*高度*/
.height100 {
  height: 100px !important;
}
.height110 {
  height: 110px !important;
}
.height150 {
  height: 150px !important;
}
/*分隔符*/
.divider {
  display: block;
  height: 1px;
  width: 100%;
  margin: 20px 0;
  background-color: #dcdfe6;
  position: relative;
}
.content {
  padding: 10px;
  border: 1px solid #e6e6e6;
}
.home {
  padding: 15px;
}
/*清除浮动*/
.clearfix {
  clear: both;
  content: '';
  display: block;
}
/*点击手势*/
.pointer {
  cursor: pointer;
}
/*标题*/
.box-title {
  height: 40px;
  line-height: 40px;
  background: #efeef0;
  border-left: 5px solid #0dc316;
  padding-left: 15px;
  margin-bottom: 20px;
}
/*按钮*/
.zp-btn {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #FFF;
  border: 1px solid #DCDFE6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  -webkit-transition: .1s;
  transition: .1s;
  font-weight: 500;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
}
.zp-btn:hover {
  background: #66b1ff;
  border-color: #66b1ff;
  color: #FFF;
}
.zp-btn:active {
  background: #3a8ee6;
  border-color: #3a8ee6;
  color: #FFF;
}
.zp-btn-primary {
  color: #FFF;
  background-color: #409EFF;
  border-color: #409EFF;
}
.zp-btn-success {
  color: #FFF;
  background-color: #67C23A;
  border-color: #67C23A;
}
.zp-btn-info {
  color: #FFF;
  background-color: #909399;
  border-color: #909399;
}
.zp-btn-warning {
  color: #FFF;
  background-color: #E6A23C;
  border-color: #E6A23C;
}
.zp-btn-danger {
  color: #FFF;
  background-color: #F56C6C;
  border-color: #F56C6C;
}
/*收藏按钮*/
.collection {
  width: 120px;
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,.1);
  font-size: 18px;
  margin-right: 20px;
  cursor: pointer;
  text-align: center;
}
/*最顶部导航*/
.top-nav {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: rgba(245,245,245,0.8);
  border-bottom: 1px solid #ccc;
  position: fixed;
  top: 0px;
  z-index: 1000;
  font-size: 18px;
}
.top-nav-text {
  width: 1200px;
  margin: auto;
}
.logo i {
  font-size: 34px;
  margin-right: 15px;
}
.logo span {
  font-size: 22px;
}
.top-nav ul,
.top-nav li {
  float: left;
  color: #676a6c;
}
.top-nav ul {
  margin-left: 10px;
}
.top-nav li {
  margin-left: 20px;
  padding: 0px 10px;
  cursor: pointer;
}
.top-nav li:hover,
.login:hover {
  color: #409EFF;
}
.container {
  padding: 0 15px 0;
  position: relative;
}
.container i {
  font-size: 36px;
}
.container i:hover {
  color: #ccc;
}
/*底部*/
.down {
  width: 100%;
  background: #282c36;
  border-top: 1px solid #eaeef1;
  margin-top: 50px;
}
.down-content {
  width: 1200px;
  margin: auto;
  padding: 20px 0px 20px;
}
.down a,
.down span {
  color: white;;
}
.down a {
  font-size: 30px;
  font-weight: 800;
  line-height: 50px;
}
.down span {
  font-size: 22px;
  line-height: 50px;
}
